#about {
  height: 200vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

#about-header {
  text-align: center;  
  width: 100vw;
  background-color: black;
  padding: 4vh 0
}

#about-header > h1 {
  font-size: 1rem;  
}

#about-text {
  font-size: .9rem;
  text-align: start;
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;  
}

#about-skills {
  font-size: .8rem;
  text-align: center;
  width: 80%;
}

#about-skills > h2 {
  margin-bottom: 3vh;
  font-size: 1.5rem; 
}

#about-skills-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3vw;  
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15%
}

#contact > h2 {
  font-size: 1.5rem;
}

#social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}

#social-media > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  font-size: 1.1rem;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#social-media a:hover {
  top: -10px
}

@media only screen and (min-width: 320px) {
  #about {
    height: 200vh
  }
}

@media only screen and (min-width: 365px) {
  #about {
    height: 185vh
  }
}

@media only screen and (min-width: 525px) {
  #about-header > h1 {
    font-size: 1.2rem;  
  }
  
  #about-text {
    font-size: 1rem;
  }

  #about-skills {
    font-size: .9rem;
  }
  
  #social-media > a {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 600px) {
  #about {
    height: 195vh
  }
  #about-header > h1 {
    font-size: 1.3rem;  
  }
  
  #about-text {
    font-size: 1.1rem;
  }

  #about-skills {
    font-size: 1rem;
  }

  #about-skills > h2 {
    font-size: 1.7rem; 
  }

  #contact > h2 {
    font-size: 1.7rem;
  }
  
  #social-media > a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 715px) {
  #about {
    height: 190vh
  }

  #about-header > h1 {
    font-size: 1.5rem;  
  }
  
  #about-text {
    font-size: 1.3rem;
  }

  #about-skills {
    font-size: 1.2rem;
  }

  #about-skills > h2 {
    font-size: 1.9rem; 
  }

  #contact > h2 {
    font-size: 1.9rem; 
  }
  
  #social-media > a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 852px) {
  #about {
    height: 200vh
  }
  #about-header > h1 {
    font-size: 1.7rem;  
  }
  
  #about-text {
    font-size: 1.5rem;
  }

  #about-skills {
    font-size: 1.4rem;
  }

  #about-skills > h2 {
    font-size: 2.1rem; 
  }

  #contact > h2 {
    font-size: 1.6rem;
  }
  
  #social-media > a {
    font-size: 1.5rem;
  }
}



