#carousel {
  height: 40vh;
  width: 90%;
  position: relative;
  margin: auto;
  border: 1px solid grey
}

#carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.active {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-btn {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .2)
}

.carousel-btn:focus, .carousel-btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, .3)
}

.carousel-btn:hover {
  outline: 1px solid black;
}

.carousel-btn.prev {
  left: 1vw
}

.carousel-btn.next {
  right: 1vw
}

@media only screen and (min-width: 450px) {
  #carousel {
    height: 50vh;
  }
}

@media only screen and (min-width: 600px) {
  #carousel {
    height: 60vh;
  }
}

@media only screen and (min-width: 768px) {
  #carousel {
    height: 70vh;
  }
}

@media only screen and (min-width: 992px) {
  #carousel {
    height: 85vh;
  }
}

@media only screen and (min-width: 1200px) {
  #carousel {
    height: 100vh;
  }
}


