#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  height: 90vh;
  width: 100vw;
  gap: 5vh
}

#hero-text {
  font-size: .9rem;
  text-align: center;
  width: 90%
}

#hero-text > span {
  font-size: 1.2rem;
  font-weight: bolder;
}

#hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-img > img {
  height: 300px;
	width: 250px;
	border-radius: 50%;
}