#project-section {
  height: 460vh;
  background-color: black;
}

#project-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20vh
}

#project-heading > h1 {
  font-size: 1rem;
  text-align: center;
}

#project-container {
  height: 100%;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}